* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d6d3f0;
  text-align: center;
}
.container {
  height: 70vh;

  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color: #0f5257;
  background-color: #9c92a3;
}

.reset {
  padding: 0.5rem;
  background-color: #0f5257;
  font-size: 1.25rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: #0f0b0c 0 0 1rem rgba(0, 0, 0, 0.2);
}

.new-btn {
  padding: 0.5rem;
  background-color: #35c335;
  font-size: 1.25rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: #0f0b0c 0 0 1rem rgba(0, 0, 0, 0.2);
}
#msg {
  font-size: 8vmin;
  color: #ffffc7;
}
.msg-container {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  flex-direction: column;
}
.hide {
  display: none;
}
