* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d6d3f0;
  text-align: center;
}
.wavy-heading {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #20b2aa;
}

.wavy-heading span {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
}

.wavy-heading span:nth-child(1) {
  animation-delay: 0s;
}
.wavy-heading span:nth-child(2) {
  animation-delay: 0.1s;
}
.wavy-heading span:nth-child(3) {
  animation-delay: 0.2s;
}
.wavy-heading span:nth-child(4) {
  animation-delay: 0.3s;
}
.wavy-heading span:nth-child(5) {
  animation-delay: 0.4s;
}
.wavy-heading span:nth-child(6) {
  animation-delay: 0.5s;
}
.wavy-heading span:nth-child(7) {
  animation-delay: 0.6s;
}
.wavy-heading span:nth-child(8) {
  animation-delay: 0.7s;
}
.wavy-heading span:nth-child(9) {
  animation-delay: 0.8s;
}
.wavy-heading span:nth-child(10) {
  animation-delay: 0.9s;
}
.wavy-heading span:nth-child(11) {
  animation-delay: 1s;
}
.wavy-heading span:nth-child(12) {
  animation-delay: 1.1s;
}
.wavy-heading span:nth-child(13) {
  animation-delay: 1.2s;
}
.wavy-heading span:nth-child(14) {
  animation-delay: 1.3s;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.container {
  height: 70vh;

  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 8vmin;
  color: #0f5257;
  background-color: #9c92a3;
}

.reset {
  padding: 0.5rem;
  background-color: #0f5257;
  font-size: 1.25rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: #0f0b0c 0 0 1rem rgba(0, 0, 0, 0.2);
}

.new-btn {
  padding: 0.5rem;
  background-color: #35c335;
  font-size: 1.25rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: #0f0b0c 0 0 1rem rgba(0, 0, 0, 0.2);
}
#msg {
  font-size: 8vmin;
  color: #ffffc7;
}
.msg-container {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  flex-direction: column;
}
.hide {
  display: none;
}
